<!doctype html>
<html lang="">

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
  {% block media %}{% endblock %}
</head>

<body>
  <section class="hero">
    <div class="hero-body title has-text-primary">
      ShapeWorks Cloud
    </div>
  </section>


  <hr />

  <section class="section">
    <div class="is-size-7">
      {% block breadcrumb %}&nbsp;{% endblock %}
    </div>

    <div class="level">
      <div class="level-left is-size-3">
        {% block title %}{% endblock %}
      </div>
      <div class="level-right">
        {% if user.is_authenticated %}
        <div class="tile is-vertical">
          <div class="tile level-right">
            <div class="level">
              <div>Welcome, {{ user.username }} &nbsp;</div>
              <a href="{% url 'account_logout' %}?next={{ request.path }}" class="button is-small">Log Out</a>
            </div>
          </div>
          <div class="tile level-right">
            {% block actions %}{% endblock %}
          </div>
        </div>
        {% else %}
        <a href="{% url 'account_login' %}?next={{ request.path }}" class="button">Log In</a>
        {% endif %}
      </div>
    </div>
  </section>

  <hr />

  <section class="section">
    {% block content %}{% endblock %}
  </section>

</body>

</html>
