{% extends "base.html" %}

{% block breadcrumb %}
<a href="{% url 'home' %}">Home</a> /
<a href="{% url 'dataset_list' %}">Datasets</a> /
<a href="{% url 'dataset_detail' dataset.pk %}">{{ dataset.name }}</a>
{% endblock %}

{% block title %}
{{ groomed.name }}
{% endblock %}

{% block actions %}
<a class="button" href="{% url 'groomed_edit' dataset.pk groomed.pk %}">
  Edit Groomed
</a>
{% endblock %}

{% block content %}
<table class=" table">
  <tbody>
    <tr>
      <td>Size</td>
      <td>{{ groomed.formatted_size }}</td>
    </tr>
  </tbody>
</table>
{% endblock %}
