<table class="table">
  <tbody>
    <tr>
      <td>Subject</td>
      <td>{{ object.subject }}</td>
    </tr>
    {% if object.particle_type %}
    <tr>
      <td>Particle Type</td>
      <td>{{ object.particle_type }}</td>
    </tr>
    {% endif %}
    {% if object.chirality %}
    <tr>
      <td>Chirality</td>
      <td>{{ object.chirality }}</td>
    </tr>
    {% endif %}
    {% if object.extension %}
    <tr>
      <td>Extension</td>
      <td>{{ object.extension }}</td>
    </tr>
    {% endif %}
    {% if object.grooming_steps %}
    <tr>
      <td>Grooming Steps</td>
      <td>{{ object.grooming_steps }}</td>
    </tr>
    {% endif %}
    <tr>
      <td>Size</td>
      <td>{{ object.size|filesizeformat }}</td>
    </tr>
  </tbody>
</table>

<a class="button is-primary" href="{{ object.blob.url }}">Download</a>
