{% extends "base.html" %}

{% block media %}{{ form.media }}{% endblock %}

{% block breadcrumb %}
<a href="{% url 'home' %}">Home</a> /
<a href="{% url 'dataset_list' %}">Datasets</a> /
<a href="{% url 'dataset_detail' dataset.pk %}">{{ dataset.name }}</a> /
<a href="{% url 'shape_model_detail' dataset.pk shape_model.pk %}">{{ shape_model.name }}</a> /
<a href="{% url 'particles_detail' dataset.pk shape_model.pk particles.pk %}">{{ particles.name }}</a>
{% endblock %}

{% block title %}
Delete {{ particles.name }}
{% endblock %}

{% block content %}
<div>
  Are you sure you want to delete {{ particles.name }}?
</div>
<form action="{% url 'particles_delete' dataset.pk shape_model.pk particles.pk %}" method="post">
  {% csrf_token %}
  <div class="field is-grouped">
    <div class="control">
      <input class="button is-link is-danger" type="submit" value="Delete">
    </div>
    <div class="control">
      <a class="button is-link is-light" href="{% url 'dataset_detail' dataset.pk %}">
        Cancel
      </a>
    </div>
  </div>
</form>
{% endblock %}
