<div class="message">
  <div class="message-header">Patterns</div>
  <div class="message-body">
    <div class="block">
      <p>Patterns are used to parse filenames into metadata and convert metadata into filenames.</p>

      <p>Patterns look like normal filenames, but with variables included using a specification similar to Python's
        <a href="https://docs.python.org/3/reference/lexical_analysis.html#index-24">f-strings</a>.
      </p>
      <p>These are the available variables you can use in your patterns:</p>
    </div>
    <div class="block">
      <div class="label">{subject}</div>
      <p>Identifies the thing sampled to create the file in question.</p>
      <p>
        Since subject is stored as an integer, some formatting may be necessary to generate the correct
        filename.
        The default behavior of <code>{subject}</code> is to convert the identifier directly to an integer, so the
        pattern will not pad 0s to a fixed width.
        To get around this, use something like <code>{subject:04}</code> instead.
        The subject will be left-padded with 0s until it is length 4, i.e. <code>subject_0000.txt</code>,
        <code>subject_0009.txt</code>, <code>subject_9999.txt</code>.
      </p>
    </div>
    <div class="block">
      <div class="label">{chirality}</div>
      <p>Identifiers which side of the subject was sampled.</p>
      <p>This must be represented as one of <code>L</code> or <code>R</code>.</p>
    </div>
    <div class="block">
      <div class="label">{extension}</div>
      <p>A simple file extension.</p>
      <p>Sometimes the same data needs to be stored redundantly in multiple file formats.</p>
      <p>This must be one of <code>nrrd</code>, <code>vtk</code>, <code>ply</code>, or <code>particles</code>.</p>
    </div>
    <div class="block">
      <div class="label">{grooming_steps}</div>
      <p>
        Grooming steps are sometimes encoded into the groomed image files and shape model files as a series of
        dot-separated operations.
      </p>
    </div>
    <div class="block">
      <div class="label">{particle_type}</div>
      <p>Shape models store 3 copies of each .particles file: <code>local</code>, <code>world</code>, and
        <code>wptsFeatures</code>.
      </p>
    </div>
  </div>
</div>
