{% extends "base.html" %}

{% block breadcrumb %}
<a href="{% url 'home' %}">Home</a> /
<a href="{% url 'dataset_list' %}">Datasets</a> /
<a href="{% url 'dataset_detail' dataset.pk %}">{{ dataset.name }}</a>
{% endblock %}

{% block title %}
{{ segmentation.name }}
{% endblock %}

{% block actions %}
<a class="button" href="{% url 'segmentation_edit' dataset.pk segmentation.pk %}">
  Edit Segmentation
</a>
<a class="button is-danger" href="{% url 'segmentation_delete' dataset.pk segmentation.pk %}">
  Delete Segmentation
</a>
{% endblock %}

{% block content %}
{% include "metadata.html" with object=segmentation %}
{% endblock %}
