{% extends "base.html" %}

{% block media %}{{ form.media }}{% endblock %}

{% block breadcrumb %}
<a href="{% url 'home' %}">Home</a> /
<a href="{% url 'dataset_list' %}">Datasets</a> /
<a href="{% url 'dataset_detail' dataset.pk %}">{{ dataset.name }}</a> /
<a href="{% url 'segmentation_detail' dataset.pk segmentation.pk %}">{{ segmentation.name }}</a>
{% endblock %}

{% block title %}
Edit {{ segmentation.name }}
{% endblock %}

{% block content %}
<div>
  File pattern: <b>{{ dataset.segmentation_pattern }}</b>
</div>
<form action="{% url 'segmentation_edit' dataset.pk segmentation.pk %}" method="post">
  {% csrf_token %}
  {{ form }}
  <div class="field is-grouped">
    <div class="control">
      <input class="button is-link" type="submit" value="Submit">
    </div>
    <div class="control">
      <a class="button is-link is-light" href="{% url 'segmentation_detail' dataset.pk segmentation.pk %}">
        Cancel
      </a>
    </div>
  </div>
</form>

{% endblock %}
