{% extends "base.html" %}

{% block breadcrumb %}
<a href="{% url 'home' %}">Home</a> /
<a href="{% url 'dataset_list' %}">Datasets</a> /
<a href="{% url 'dataset_detail' dataset.pk %}">{{ dataset.name }}</a>
{% endblock %}

{% block title %}
{{ shape_model.name }}
{% endblock %}

{% block actions %}
<a class="button" href="{% url 'shape_model_edit' dataset.pk shape_model.pk %}">
  Edit Shape Model
</a>
{% endblock %}

{% block content %}
<table class="table">
  <tbody>
    <tr>
      <td>Magic Number</td>
      <td>{{ shape_model.magic_number }}</td>
    </tr>
  </tbody>
</table>

<div class="level">
  <div class="level-left">
    <div class="title">Particles</div>
  </div>
  <a href="{% url 'particles_create' dataset.pk shape_model.pk %}" class="button level-right">Add Particles</a>
</div>
<div class="table-container">
  <table class="table is-fullwidth">
    <thead>
      <td>File Name</td>
      <td>Subject</td>
      <td>Metadata</td>
      <td>File Size</td>
      <td></td>
    </thead>
    <tbody>
      {% for object in page_obj.object_list %}
      <tr>
        <td>
          <a href="{% url 'particles_detail' dataset.pk shape_model.pk object.pk %}">{{ object.name }}</a>
        </td>
        <td>
          {{ object.subject }}
        </td>
        <td>
          {{ object.metadata_values }}
        </td>
        <td>
          {{ object.formatted_size }}
        </td>
        <td class="has-text-right">
          <a class="button is-small" href="{% url 'particles_edit' dataset.pk shape_model.pk object.pk %}">Edit</a>
          <a class="button is-small" href="{{ object.blob.url }}">Download</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<div class="pagination">
  <span class="step-links">
    {% if page_obj.has_previous %}
    <a href="?page=1">&laquo; first</a>
    <a href="?page={{ page_obj.previous_page_number }}">previous</a>
    {% endif %}

    <span class="current">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
    </span>

    {% if page_obj.has_next %}
    <a href="?page={{ page_obj.next_page_number }}">next</a>
    <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
    {% endif %}
  </span>
</div>
{% endblock %}
